<h1> <%= @cat.name %> </h1>

<h2> Birth Day: <%= @cat.birth_date %> </h2>
<h3> Age: <%= @cat.age %> </h3>
<h4> Color: <%= @cat.color %> </h4>
<h5> Sex: <%= @cat.sex %> </h5>

<p> <%= @cat.description %> </p>